# Ignore virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Ignore other files
*.pyo
*.bak
*.swp
*.log
*.sqlite3
*.db

# Ignore fontawesomefree
fontawesomefree/

# Ignore any files related to IDE configurations (e.g., .vscode, .idea)
.vscode/
.idea/
